:root {
  --pavers-blue: #004d71;
  --pavers-blue-highlight: #0076ad;
  --sale-red: #cd092d;
  --img-max: 250px;
}

html {
  font-size: 62.5%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
div,
a,
ul {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: whitesmoke;
  color: #333;
}

button {
  background-color: var(--pavers-blue);
  color: #fff;
  border: none;
  padding: 1rem 0;
  font-family: inherit;
  font-size: 1.8rem;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

button:hover {
  background-color: var(--pavers-blue-highlight);
}

.header {
  background-color: var(--pavers-blue);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.main-content p {
  font-size: 1.6rem;
}

.main-content h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.main-content .contact-form {
  width: 100%;
  margin-top: 1rem;
}

.main-content .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 2rem;
}

.main-content .contact-form form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.5rem;
}

.main-content .contact-form label {
  margin: 0.5rem 0;
  font-size: 1.6rem;
}

.main-content .contact-form input {
  outline-color: var(--pavers-blue-highlight);
}

.main-content .contact-form input[type='text'],
.main-content .contact-form input[type='email'] {
  font-size: 1.6rem;
  padding: 0.5rem;
}

.main-content .contact-form input[type='date'] {
  display: inline;
  font-family: inherit;
  width: 50%;
  font-size: 1.6rem;
  padding: 0.5rem;
}

.main-content .contact-form textarea {
  height: 100px;
  resize: none;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 0.5rem;
  outline-color: var(--pavers-blue-highlight);
}

.char-count {
  margin-top: 0.3rem;
  text-align: right;
}

#file-img-preview {
  max-height: var(--img-max);
  border-radius: 25px;
  margin-bottom: 2rem;
  display: block;
}

.form-input {
  height: var(--img-max);
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.form-input input {
  display: none;
}

.form-input label {
  cursor: pointer;
  display: block;
  height: var(--img-max);
  width: auto;
  max-height: 100px;
}
/*# sourceMappingURL=style.css.map */