/**********************************
**  Global-ish Stuff and Resets  **
***********************************/

:root {
  --pavers-blue: #004d71;
  --pavers-blue-highlight: #0084c2;
  --sale-red: #cd092d;
  --bg-color: #fff;
  --main-color: #333;
  --img-max: 150px;
  --std-font-size: 1.6rem;
}

@mixin small-screen {
  @media (max-width: 540px) {
    @content;
  }
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
div,
a,
ul {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  list-style-type: none;
  font-size: var(--std-font-size);
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  height: 100vh;
}

.btn {
  background-color: var(--pavers-blue);
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border-radius: 5px;

  &__warning {
    background-color: var(--sale-red);
  }
}

.submit-btn {
  background-color: var(--pavers-blue);
  color: #fff;
  border: none;
  padding: 1rem 0;
  font-family: inherit;
  font-size: 1.8rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    background-color: var(--pavers-blue-highlight);
  }
}

/***********************
**       Header       **
************************/

.header {
  background-color: var(--pavers-blue);
  padding: 2rem;
  display: flex;
  justify-content: center;
}

/**************************************
** Styles for the main page sections **
**************************************/
#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  flex: 1;

  p {
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .contact-form {
    width: 100%;
    margin: 1rem 0;

    form {
      display: flex;
      flex-direction: column;
      border: 2px solid #333;
      border-radius: 5px;
      padding: 2rem;

      @include small-screen() {
        padding: 1rem;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
      }
    }

    label {
      margin: 0.5rem 0;
    }

    input {
      outline-color: var(--pavers-blue-highlight);
      font-size: inherit;
      padding: 0.5rem;
    }

    input[type='date'] {
      display: inline;
      font-family: inherit;
      width: 50%;
    }

    textarea {
      height: 100px;
      resize: none;
      font-family: inherit;
      font-size: inherit;
      padding: 0.5rem;
      outline-color: var(--pavers-blue-highlight);

      @include small-screen {
        height: 150px;
      }
    }
  }
}

// part of the textarea component
.char-count {
  margin-top: 0.3rem;
  text-align: right;
}

/**************************************
** Styles for image upload component **
***************************************/

.img-upload {
  display: flex;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 1rem;
  margin-top: 2rem;

  img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 1.6rem;
  }

  .upload-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    // target all children of .upload-text
    > * {
      margin: 1rem 0;
    }
  }

  // hide the default HTML file upload ...
  input {
    display: none;
  }

  // ... and style it with the label instead :)
  label {
    cursor: pointer;
    background-color: var(--pavers-blue);
    color: #fff;
    padding: 1rem 2rem;
    display: inline-block;
  }
}

/***********************************
** Styles for Success/Error pages **
************************************/

.result-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -1rem;

  & > * {
    margin: 1rem 0;
  }

  h1 {
    font-size: 3rem;
  }
}
