:root {
  --pavers-blue: #004d71;
  --pavers-blue-highlight: #0076ad;
  --sale-red: #cd092d;
  --img-max: 150px;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
div,
a,
ul {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: white;
  color: #333;
}

button {
  background-color: var(--pavers-blue);
  color: #fff;
  border: none;
  padding: 1rem 0;
  font-family: inherit;
  font-size: 1.8rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    background-color: var(--pavers-blue-highlight);
  }
}

.header {
  background-color: var(--pavers-blue);
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.main-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;

  p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .contact-form {
    width: 100%;
    margin-top: 1rem;

    form {
      display: flex;
      flex-direction: column;
      border: 2px solid #333;
      border-radius: 5px;
      padding: 2rem;

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
      }
    }

    label {
      margin: 0.5rem 0;
      font-size: 1.6rem;
    }

    input {
      outline-color: var(--pavers-blue-highlight);
    }

    input[type='text'],
    input[type='email'] {
      font-size: 1.6rem;
      padding: 0.5rem;
    }

    input[type='date'] {
      display: inline;
      font-family: inherit;
      width: 50%;
      font-size: 1.6rem;
      padding: 0.5rem;
    }

    textarea {
      height: 100px;
      resize: none;
      font-family: inherit;
      font-size: 1.6rem;
      padding: 0.5rem;
      outline-color: var(--pavers-blue-highlight);
    }
  }
}

.char-count {
  margin-top: 0.3rem;
  text-align: right;
}

.img-upload {
  display: flex;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 1rem;
  margin-top: 2rem;

  img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 1.6rem;
  }

  .upload-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    > * {
      margin: 1rem 0;
    }
  }

  h3 {
    font-size: 1.6rem;
  }

  input {
    display: none;
  }

  label {
    cursor: pointer;
    background-color: var(--pavers-blue);
    color: #fff;
    padding: 1rem 2rem;
    display: inline-block;
  }
}
